body {
  font: 100% Helvetica, sans-serif;
  color: #333;
  background-color: #f4f4f4; }

.side-bar {
  width: 70px;
  color: #DDD;
  background-color: #FFF;
  height: 100%;
  border-right: 1px solid #DDD;
  text-align: center;
  padding-top: 10px; }

.logo {
  font-size: 40px; }

.card-collection {
  width: 100%;
  background: red;
  position: absolute;
  top: 0;
  left: 70;
  height: 100%; }
